<configuration scan="true">
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%date{ISO8601} [%.20thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>io.motown.operator-api.json.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>io.motown.ocpp.soap.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} [%.20thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.jgroups.protocols.pbcast.GMS" level="INFO"/>
    <logger name="org.axonframework" level="INFO"/>
    <logger name="com.rabbitmq" level="INFO"/>
    <logger name="io.motown.domain" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>